.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .5em 3em;
    align-items: center;
    border: 1px solid rgb(204, 214, 221);
    /* height: 60px; */
}
.Navbar > * {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}
.Navbar > .left {
    width: 60%;
    margin: 0 2.5em;
}
.Navbar > .left > .logo {
    color: rgb(29, 161, 242);
    font-size: 1.25em;
    margin: 0 .5em;
    display: flex;
    margin: auto;
}
.Navbar > .left > .logo > a {
    border-radius: 10em;
}
.Navbar > .left > .search {
    margin: 0 .5em;
    width: 100%;
}
.Navbar > .right > * {
    border:1px solid rgb(29, 161, 242);
    border-radius: 10em;
    font-weight: 700;
    display: flex;
    padding: .25em 1.25em;
    margin: 0 .25em;
}
.Navbar > .right > *:nth-child(1) {
    color: rgb(29, 161, 242);
}
.Navbar > .right > *:nth-child(2) {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 161, 242);
}
a > span {
    margin: auto;
}
@media (max-width: 580px) {
    .Navbar > .left {
        width: 100%;
        margin: 0;
    }
    .Navbar {
        padding: .5em 1em;
    }
}