@import "custom";

html {
  font-size: 16px;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
a {
  color: $primary;
  text-decoration: none;
  & img:hover,
  & figure:hover {
    box-shadow: 0px 0px 5px 0px var(--primary);
  }
  svg {
    float: left;
  }
}
.btn {
  font-family: inherit;
  // font-weight: inherit;
  // font-size: inherit;
  padding: 0.5em;
  > svg {
    float: left;
  }
}
button {
  font-family: inherit;
  // font-size: inherit;
  // font-weight: inherit;
  > span {
    margin: auto;
  }
}
textarea {
  resize: none;
  font: inherit;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.25em;
  font-weight: 400;
  &:active:focus:hover {
    background-color: transparent;
    outline: none;
    border: none;
  }
}
input {
  border: none;
  color: $dark;
  background-color: transparent;
  font-family: inherit;
  &:active:focus {
    outline: none;
    border: none;
  }
}
a {
  white-space: nowrap;
}
.hide-scroll {
  /* This is the magic bit for Firefox */
  scrollbar-width: none;
  &::-webkit-scrollbar {
    /* This is the magic bit for WebKit */
    display: none;
  }
}
.message {
  width: 100%;
  color: $info;
  display: flex;
  justify-content: center;
  font-size: 0.9em;
  padding: 1em 0;
}
.list-group {
  max-width: 600px;
}
.form-group {
  background-color: $input-bg;
  border-bottom: 2px solid $gray-600;
  padding: 0.25em;
}
label.form-label {
  margin-bottom: 0;
  color: $text-muted;
  font-size: 0.95em;
}
input[type="password"] {
  background-color: darken($input-bg, 5%) !important;
}
.card-header {
  font-weight: 800;
  font-size: 1.25em;
  border-bottom: 1px solid $border-color;
}
.card-footer {
  border-top: 1px solid $border-color !important;
}
.bg-clear {
  background-color: transparent !important;
}
a:not(.stretched-link) {
  z-index: 500;
}
.high-index {
  z-index: 1000;
}
.higher-index {
  z-index: 2000;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.list-group-item {
  animation: slide 0.15s ease-out;
}
blockquote {
  z-index: 1;
  font: inherit;
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}
#user-popover {
  box-shadow: 0 0 1rem rgba($dark, 0.35);
}
@media (max-width: 576px) {
  .modal-dialog.modal-lg {
    max-width: $modal-lg;
    margin: 0 auto;
    height: 100vh;
    .modal-content {
      border-radius: 0;
      height: 100%;
      max-height: 100%;
      min-height: 0;
    }
  }
}
.modal-sm {
  max-width: $modal-sm;
  max-height: calc(100% - 5em);
  margin: auto;
  height: 100%;
  .modal-content {
    margin: auto 1em;
    height: fit-content;
  }
}
.popover {
  min-width: $popover-min-width;
}
a + span.badge {
  left: -10px;
  top: -7.5px;
  // content: attr(data-count);
}
.border-left-right-primary-custom {
  border-left: 1px solid $primary !important;
  border-right: 1px solid $primary !important;
}
.border-left-right-secondary-custom {
  border-left: 1px solid $secondary !important;
  border-right: 1px solid $secondary !important;
}
.break-all {
  word-break: break-all;
}
