.Compose {
    display: flex;
    flex-direction: row;
    padding: .5em;
}
/*
* media
*/
.Compose > .media {
    padding: .25em;
}
.Compose > .media > .img {
    margin: .25em auto;
    width: 50px;
    height: 50px;

}
.Compose > .media > .img > * {
    width: 100%;
    height: 100%;
    border-radius: 10em;
}
.Compose > .media > .img > svg {
    color: rgb(26, 145, 218)
}

.Compose > .container {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}
.Compose > .container .editor {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 1em;
}
.Compose > .container .editor > textarea {
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    margin: .25em .5em;
}

.Compose > .container .belower {
    height: 50%;  
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right {
    margin-left: auto;
}
.Compose > .container .belower > .left > button {
    color: rgb(26, 145, 218);
    font-size: 1.5em;
    border-radius: 10em;
}
.Compose > .container .belower > .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: .5em;
}
.Compose > .container .belower > .right > *{
    margin: 0 .25em;
}
.Compose > .container .belower > .right > *:nth-child(1){
    color: rgb(26, 145, 218);
    padding: .5em;
    height: 100%;
    border-right:1px solid rgba(56, 54, 54, 0.5);
}
.Compose > .container .belower > .right > *:nth-child(2) {
    width: 2em;
    height: 2em;
    color: rgb(26, 145, 218);
    border: 1px solid rgb(26, 145, 218);
    border-radius: 10em;
}
.Compose > .container .belower > .right > *:nth-child(3) {
    color: white;
    font-size: 1em;
    font-weight: 700;
    background-color: rgb(29, 161, 242);
    border-radius: 10em;
    padding: .6em 1em;
}
.btn.submit:hover {
    opacity: .85;
}
.btn.submit:active {
    opacity: .35;
}