.Posts {
    /* margin-top: 5em; */
}
.message, .spinner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(80, 146, 190);
    margin-top: 1em;
}/*TODO fix hiding beneath bottom navigation*/
.message > .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message > .detail > .txt {
    color: rgb(101, 119, 134);
}
.message > .detail > .btn {
    margin: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: rgb(29, 161, 242);
    border-radius: 10em;
    padding: .7em 1em;
}
.message > .detail > .btn > .txt {
    font-weight: 700;
    margin-left: 1em;
}

.post {
    /* width: 100%; */
    padding: .5em;
    display: flex;
    flex-direction: row;
    border-bottom:  1px solid rgb(230, 236, 240);
}

/*
* profile photo
*/
.post > .photo {
    padding: .5em;
}
.post > .photo > .img {
    margin: .25em auto;
    height: 50px;
    width: 50px;
}
.post > .photo > .img > img {
    width: 100%;
    height: 100%;
    border-radius: 10em;
}

.post > .body {
    padding: .1em;
    /* flex-grow: 2; */
    display: flex;
    flex-direction: column;
    max-width: 82.5%;/* this shoudnt be like this */
}
/*
* name and username 
*/
.post > .body > .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .25em 0;
    flex-wrap: wrap;
}
.post > .body > .head > * {
    margin-right: .1em;
    white-space: nowrap;
}
.post > .body > .head > *:nth-child(3) {
    text-overflow: ellipsis;
}
@media (max-width: 350px) {
    .post > .body > .head > *:nth-child(3) {
        display: none;
    }
}
.post > .body > .head > .name {
    font-weight: 700;
}
.post > .body > .head > .username {
    color: rgb(101, 119, 134);
}
.post > .body > .head > .timeago {
    color: rgb(101, 119, 134);
}
.post > .body > .text {
    color: rgb(20, 23, 26);
    margin: 0 .1em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.3;
}

/*
* media thumbs
*/
.post > .body > .media {
    height: 40vw;
    max-height: 18em;
    border: 1px solid rgb(230, 236, 240) !important; /*dont know why it was overridden*/ 
    border-color: rgb(230, 236, 240);
    margin: .5em;
    margin-left: -.2em;
    border-radius: 1em;
    border: 1px solid;
    display: flex;
    overflow: hidden;
} 
/* .post > .body > .media > * {
    margin: auto;
    width: 100%;
} */
.post > .body > .media > .thumb {
    display: flex; 
    width: 100%;
}
.post > .body > .media > .thumb > img {
    width: 100%;
    margin: auto;
}

/*
* footer buttons
*/
.post > .body > .foot {
    display: flex;
    flex-direction: row;
    margin-bottom: -.5em;
}
.post > .body > .foot > .itm {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25%;
    color:rgb(101, 119, 134);
    margin-right: .5em;
}
.post > .body > .foot > .itm > button {
    padding: .5em;
    border-radius: 10em;
    color: inherit;
}
